# dev files
*.pyc
*.sublime-workspace
*.spec

# files this project generates
output
passwords.txt
certificates
webInterface/webSocketSettings.js
metadata/
LOCAL_*
build*/
dist*/
*URLs.txt
*.geany
*.bin
*.db
*.db-journal
