# dev files
*.pyc
*.sublime-workspace
*.sublime-project
*.spec

# files this project generates
poetry.lock
output
passwords.txt
certificates
webInterface/webSocketSettings.js
metadata/
LOCAL_*
build*/
dist*/
*URLs.txt
*.geany
*.bin
*.db
*.db-journal
