html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: #000000;
    background-size: contain;
    background-repeat: no-repeat;
}

input[type=text] {
    font-size: 25px;
    /* background-color: #333333; */
    /* color: #000000; */
}

p,
h1,
h2,
h3,
a,
label,
input {
    color: #cccccc;
}

.bigCenterLink {
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mediaContainer {
    width: 100%;
    height: 100%;
}

.finiteImage,
.finiteVideo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.infiniteScrollVideo,
.infiniteScrollImage {
    width: 100%;
    max-height: 100%;
}

button {
    font-size: 30px;
}

.centerControls {
    position: fixed;
    bottom: 0;
    width: 50%;
    height: 20%;
    margin-left: 20%;

    display: flex;
    flex-direction: column;
}

.centerControlsButtons {
    flex: 2 1 auto;
    display: flex;
    flex-direction: row;
}

.leftControls {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 20%;
    height: 70%;

    display: flex;
    flex-direction: column;
}

.rightControls {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 20%;
    height: 70%;

    display: flex;
    flex-direction: column;
}

.directoryList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100%;
}

#directoryListContainer {
    margin-top: 0px;
}

.directoryOrFileButton {
	padding: 5px;
}

.directoryNavigationButton {
	padding: 15px;
}

.directoryFilter {
    opacity: 0.3;
    flex: 1 1 auto;
}

.directoryButton_video {}

.directoryButton_image {}

.directoryButton_file {}

.directoryButton_dir {}

/*
* Buttons
*/

.filter {
    opacity: 0.3;
    flex: 1 1 auto;
}

#opacitySlider {
    opacity: 0.3;
    flex: 1 1 auto;
    /* transform: rotate(270deg); */
}

.maximize {
    opacity: 0.3;
    flex: 2 1 auto;
}

.previousImage {
    opacity: 0.3;
    flex: 2 1 auto;
}

.nextImage {
    opacity: 0.3;
    flex: 2 1 auto;
}

.imageAddToFavorites {
    opacity: 0.3;
    flex: 2 1 auto;
}

.previousFavorite {
    opacity: 0.3;
    flex: 2 1 auto;
}

.nextFavorite {
    opacity: 0.3;
    flex: 2 1 auto;
}

.nextImageInFolder {
    opacity: 0.3;
    flex: 2 1 auto;
    ;
}

.previousImageInFolder {
    opacity: 0.3;
    flex: 2 1 auto;
}

.toggleFullScreen {
    opacity: 0.3;
    flex: 1 1 auto;
}

.changeDirectory {
    opacity: 0.3;
    flex: 1 1 auto;
}

.toggleInfiniteScroll {
    opacity: 0.3;
    flex: 1 1 auto;
}

/* Slider */

/* From https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */

input[type=range] {
    -webkit-appearance: none;
    /* margin: 18px 0; */
    width: 100%;
    /* background-color: #000000; */
    background: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 50px;
    width: 50px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 50px;
    width: 50px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    /* border-width: 50px 0; */
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 50px;
    width: 50px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}
